@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  overflow-x: hidden;
  /* background-color: #f8f8f8; */
}
.container-x {
  max-width: 1800px !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 61px;
  padding-right: 61px;
}

.hero-bg{
  background: url("../assets/png/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

.off-circle {
  border-radius: 83px;
background: linear-gradient(90deg, #FDC830 0%, #F37335 100%);
}
.category-slider-container{
  background: linear-gradient(180deg, #F3EDC9 0%, rgba(255, 255, 255, 0.00) 100%);

}
.category-slider-card-title-container{
  background: rgba(254, 249, 249, 0.95);
box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.57);
}

.wrap-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.save-1{
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
.save-2{
  border-radius: 83px;
background: linear-gradient(90deg, #EE9CA7 0%, #FFDDE1 100%);
}

.save-3{
  border-radius: 83px;
background: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
}

select, input {
  border: 0;
  outline: 0;
}

 @media only screen and (max-width:768px) {
 .container-x {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}